body {
  font-family: monospace;
  font-size: 10pt;
  color: #808080;
  background-color: black;
}

u {
  text-decoration: underline;
}

input {
  font: inherit;
  width: 4em;
}

.cellular-automaton {
  margin: 1em auto;
}

.cellular-automaton-control-panel>* {
  margin: 0.5em;
}