body {
  font-family: monospace;
  font-size: 10pt;
  color: #c0c0c0;
  background-color: black;
}

u {
  text-decoration: underline;
}

input {
  font: inherit;
  width: 4em;
}

table {
  border-collapse: collapse;
}

.cellular-automaton {
  margin: 1em auto;
}

.cellular-automaton canvas {
  border: 5px solid black;
  visibility: hidden;
}

.cellular-automaton-control-panel {
  border: 1px solid #000;
  border-radius: 0.5em;
  background-color: rgba(0, 0, 0, 0.6);
  width: max-content;
}

.cellular-automaton-control-panel>div {
  border: 1px solid #000;
  border-radius: 0.5em;
  margin: 0.5em;
  padding: 0.5em;
}

.cellular-automaton-control-panel button,
.cellular-automaton-control-panel input,
.cellular-automaton-control-panel label {
  margin-right:0.5em;
}
.cellular-automaton-control-panel button,
.cellular-automaton-control-panel input {
  border:2px solid black;
  border-radius: 0.3em;
}
.cellular-automaton-control-panel input {
  padding-left: 0.3em;
}

.cellular-automaton-control-panel button.active {
  border-color: yellow;
}

.cellular-automaton-control-panel .color-control-table td, th {
  text-align: center;
  padding: 0.5em;
}

.cellular-automaton-control-panel .color-control-table td {
  min-width: 5em;
}

.cellular-automaton-control-panel .convolution-matrix-display-table {
  cursor: default;
  table-layout: fixed;
  width: min-content;
  margin-bottom: 0.5em;
}

.cellular-automaton-control-panel .convolution-matrix-display-table td {
  white-space: nowrap;
  width: 1em;
  height: 1em; 
  padding: 0.5em;
  border: 1px solid grey;
}

.cellular-automaton-control-panel .convolution-matrix-display-table td>input {
  margin: 0;
  padding: 0;
}
