body {
  font-family: monospace;
  font-size: 10pt;
  color: #c0c0c0;
  background-color: black;
}

u {
  text-decoration: underline;
}

input {
  font: inherit;
  width: 4em;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 0 0.3em;
}

.cellular-automaton {
  margin: 1em auto;
}

.cellular-automaton canvas {
  border: 5px solid black;
  visibility: hidden;
}

.cellular-automaton-control-panel {
  border: 1px solid #000;
  border-radius: 0.5em;
  background-color: rgba(0, 0, 0, 0.6);
  width: max-content;
}

.cellular-automaton-control-panel>div {
  border: 1px solid #000;
  border-radius: 0.5em;
  margin: 0.5em;
  padding: 0.5em;
}

.cellular-automaton-control-panel button,
.cellular-automaton-control-panel input,
.cellular-automaton-control-panel label {
  margin-right:0.5em;
}
.cellular-automaton-control-panel button,
.cellular-automaton-control-panel input {
  border:2px solid black;
  border-radius: 0.2em;
}
.cellular-automaton-control-panel input {
  padding-left: 0.3em;
}

.cellular-automaton-control-panel button.active {
  border-color: yellow;
}

.cellular-automaton-control-panel .color-control-table tr>* {
  text-align: left;
}

.cellular-automaton-control-panel .convolution-matrix .convolution-matrix-display-table {
  cursor: default;
  table-layout: fixed;
  width: min-content;
}

.cellular-automaton-control-panel .convolution-matrix button {
  margin: 0.5em 0.5em 0.5em 0;
}

.cellular-automaton-control-panel .convolution-matrix .convolution-matrix-display-table tr>*,
.cellular-automaton-control-panel .convolution-matrix .convolution-matrix-metric-table tr>* {
  border: 1px solid grey;
}

.cellular-automaton-control-panel .convolution-matrix .convolution-matrix-display-table td {
  width: 1em;
  height: 1em; 
}

.cellular-automaton-control-panel .convolution-matrix .convolution-matrix-display-table td>input {
  margin: 0;
  padding: 0;
}

.cellular-automaton-control-panel .convolution-matrix .convolution-matrix-metric-table tr>* {
  text-align: left;
}
.cellular-automaton-control-panel .convolution-matrix .convolution-matrix-metric-table td {
  cursor: pointer;
}