html, body, div#main, svg.world {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: black;
  color: white;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  font-family: monospace;
}

#main {
  border: 1px solid white;
}

text {
  font-family: monospace;
}
