html, body, div#main, svg.world {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: black;
  color: white;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  font-family: monospace;
}

#templates {
  display: none;
}

#templates * {
  display: inherit;
}

text {
  font-family: monospace;
}
