html, body, svg.world {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: black;
  color: white;
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  font-family: monospace;
}

#templates {
  display: none;
}

#templates * {
  display: inherit;
}

text {
  font-family: monospace;
}

.populate-world-dialog * {
  color: black;
}

.populate-world-dialog {
  color: black;
  background-color: lightgray;
  margin: 2em auto;
  border: 0.5em solid white;
  border-radius: 1em;
}

.populate-world-dialog .button-container {
  margin: 0.25em auto;
}


.float-left {
  float: left;
}

.align-right {
  text-align: right;
}